/*
* This file contains general css styling.
*/


/*
* Media Queries
*/

/* Laptops, Desktops */
@media (min-width: 1025px) {
    .grid-sizer {
        width: 24.6%;
    }

    .gutter-sizer {
        width: 0.5%;
    }

    .flickr-img.card {
        padding: 0.3%;
        margin-bottom: 0.6%;
        width: 24.6%;
    }
    .flickr-img.card-img-top {
        height: 22.5vw;
        object-fit: cover;
    }

    #search-input {
        width: 22vw;
    }

}

/* Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .grid-sizer {
        width: 33%;
    }

    .gutter-sizer {
        width: 0.5%;
    }
    .flickr-img.card {
        padding: 0.5%;
        margin-bottom: 0.5%;
        width: 33%;
    }
    .flickr-img.card-img-top {
        height: 28.2vw;
        object-fit: cover;
    }

    #search-input {
        width: 55vw;
    }
}

/* Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .grid-sizer {
        width: 49.2%;
    }

    .gutter-sizer {
        width: 1%;
    }
    .flickr-img.card {
        padding: 0.5%;
        margin-bottom: 1%;
        width: 49.2%;
    }
    .flickr-img.card-img-top {
        height: 33.75vw;
        object-fit: cover;
    }

    #search-input {
        width: 75vw;
    }
}

/* Most Smartphones (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    .grid-sizer {
        width: 100%;
    }

    .gutter-sizer {
        width: 1%;
    }
    .flickr-img.card {
        padding: 1%;
        margin-bottom: 2%;
        width: 100%;
    }
    .flickr-img.card-img-top {
        height: 67.5vw;
        object-fit: cover;
    }

    #search-input {
        width: 75vw;
    }
}

/* Tiny screens */
@media (max-width: 320px) {
    .grid-sizer {
        width: 100%;
    }

    .gutter-sizer {
        width: 1%;
    }
    .flickr-img.card {
        padding: 1%;
        margin-bottom: 2%;
        width: 100%;
    }
    .flickr-img.card-img-top {
        height: 100vw;
        object-fit: cover;
    }

    #search-input {
        width: 75vw;
    }
}


/*
* Colors
*/
.flickr-blue {
    color: #0063dc;
}

.flickr-pink {
    color: #ff0084;
}


/*
* Custom classes
*/
.site-header {
    font-size: 3.5rem;
}


/*
* Bootstrap Overrides
*/
.nav-brand {
    padding-top: 6px !important;
}


