<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <!-- Dependencies -->
    <script src="{{ url_for('static', filename='dist/app.js') }}"></script>
    <link href="{{ url_for('static', filename='dist/app.css') }}" rel="stylesheet"/>

</head>
<body>
<ul class="nav nav-tabs bg-primary">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('search.index') }}">
        <img src="{{ url_for('static', filename='src/images/logo.png') }}" height="40">
    </a>
  </li>
</ul>
{% block page_body %}

{% endblock %}
</body>
{% block footer %}
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
{% endblock %}
</html>