<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <!-- Dependencies -->
    <script src="{{ url_for('static', filename='dist/app.js') }}"></script>
    <link href="{{ url_for('static', filename='dist/app.css') }}" rel="stylesheet"/>

</head>
<body>

<ul class="nav nav-tabs bg-dark">
    {% block nav_items_left %}
        <li class="nav-item mr-auto">
            <a class="nav-link py-1 px-3 nav-brand" href="{{ url_for('search.index') }}">
                <span class="text-capitalize">Home</span>
            </a>
        </li>
    {% endblock %}
    {% block nav_items_right %}
 {% endblock %}
</ul>

{% block page_body %}

{% endblock %}
</body>

{% block footer %}
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
{% endblock %}

</html>