{% extends '_base.html' %}
{% block title %} flickr Image Search {% endblock %}
{% block nav_items_right %}
{{ super() }}
  <li class="nav-item">
        <a style="display: none" id="redo-href" class="nav-link py-1 px-3" href="#" onclick="newSearch()">
            <span class="oi oi-magnifying-glass"></span>
        </a>
  </li>
  <li class="nav-item">
        <a style="display: none" id="pause-href" class="nav-link py-1 px-3" href="#" onclick="toggleSocketQuery()" data-toggle="snackbar" data-content="Slideshow Resumed" data-timeout="1500">
            <span id="pause-icon" class="oi oi-media-pause"></span>
        </a>
  </li>
{% endblock %}

{% block page_body %}
<div id="search-container" class="container mt-5">
    <div class="row">
        <div class="d-flex col justify-content-center">
            <h1 class="site-header mt-4 mb-0 text-center"><span class="flickr-blue">flick</span><span class="flickr-pink">r</span> Image Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex col justify-content-center">
            <h6 class="text-center d-block">Search public flickr images by specifying tags.<br> An empty query returns all recent images.</h6>
        </div>
    </div>
    <div class="row">
        <div class="d-flex col justify-content-center">
            <span class="bmd-form-group justify-content-center text-center pt-4">
                <input id="search-input" class="form-control form-control-lg form-control-success" placeholder="Search..." autocomplete="off" spellcheck="false" role="combobox" type="search" name="search">

                <button onclick="newQuerySocket()" id="submit" class="btn btn-raised btn-primary my-4 ml-3" role="button">Search</button>
            </span>
        </div>
    </div>
</div>
<div id="loader-placeholder"></div>

<div id="result-container" class="container-fluid">
    <div class="row mt-2">
        <div class="col justify-content-center">
            <div class="grid">
                <div class="gutter-sizer"></div>
                <div class="grid-sizer"></div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block footer %}
{{ super() }}

<script>
var currentImagesHash = {};
var currentImageCount = 0;
var queryIntervalMS = 3000;
var querySocketInterval = null;
var querySocketIntervalIsRunning = false;
var currentQuery = null;
var socket = io.connect('http://' + document.domain + ':' + location.port);
var $grid = $('.grid').masonry({
    itemSelector: '.card',
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer',
    transitionDuration: '0.8s'
});

socket.on('search', function(data) {
    processSearchResults(data)
        .then(() => {
            drawSearchResults();
        });
});


function processSearchResults(data) {
    return new Promise(function(resolve, reject) {
        for (let item in data) {
            if (!(data[item] in currentImagesHash)) {

                if (currentImageCount >= 20) {
                    let lastCard = $('.grid .card').last();
                    lastCard.remove();
                } else {
                    currentImageCount++;
                }

                currentImagesHash[data[item]] = true;

                let image = $('<img>');
                image.attr('src', data[item]);
                image.addClass('card-img-top');

                let card = $('<div></div>');

                card.addClass('card')
                    .append(image);

                $grid.prepend(card)
                    .masonry('prepended', card)
                    .masonry('reloadItems')
                    .masonry('layout');
            }
        }
        resolve(undefined);
    });
}

function newQuerySocket() {
    drawSearchLoading();
    currentQuery = $('input[name="search"]').val();
    startSocketQuery();
}


function startSocketQuery() {
    socket.emit('search', {search: currentQuery});
    querySocketInterval = setInterval(() => {
        socket.emit('search', {search: currentQuery});
    }, queryIntervalMS);
    querySocketIntervalIsRunning = true;
}


function stopSocketQuery() {
    clearInterval(querySocketInterval);
    querySocketIntervalIsRunning = false;
}


function toggleSocketQuery() {
    if (querySocketIntervalIsRunning) {
        setMediaControlsPaused();
        stopSocketQuery();
    } else {
        setMediaControlsPlaying();
        startSocketQuery();
    }
}

function setMediaControlsPaused() {
    $('#pause-href').attr('data-content', 'Slideshow Paused');

    let toggleIcon = $('#pause-icon');
    toggleIcon.removeClass('oi-media-pause');
    toggleIcon.addClass('oi-media-play');
}

function setMediaControlsPlaying() {
    $('#pause-href').attr('data-content', 'Slideshow Resumed');

    let toggleIcon = $('#pause-icon');
    toggleIcon.removeClass('oi-media-play');
    toggleIcon.addClass('oi-media-pause');
}


function drawSearchLoading() {
    $('#search-container').hide();
    $('#loader-placeholder').addClass('loader');
}

function drawSearchResults() {
    $('#result-container').show();
    $('#loader-placeholder').removeClass('loader');
    $('#pause-href').show();
    $('#redo-href').show();
    $grid.masonry('layout').masonry('reloadItems');
}

function drawSearch() {
    $('#search-container').show();
    $('#result-container').hide();
    $('#pause-href').hide();
    $('#redo-href').hide();
}

function newSearch() {
    stopSocketQuery();
    currentImagesHash = {};
    currentImageCount = 0;
    $('#result-container .grid .card').remove();
    setMediaControlsPlaying();
    drawSearch();
}


</script>


{% endblock %}